html, body {
  background-image: url("./docs/moon.jpg");
  min-height: 100%;
  margin: 0;
}

p {
  margin: 10px 0;
}

canvas {
  position: absolute;
  width: 800px;
  height: 550px;
  min-width: 800px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

canvas#canvas {
  background-color: #111;
  border-radius: 10px;
}

.modal-start, .modal-over {
  z-index: 10;
  position: absolute;
  height: 300px;
  width: 300px;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
}

.modal-start {
  display: block
}

.modal-over {
  display: none;
}

.modal-content {
  font-family: Audiowide;
  font-size: 16px;
  color: #999;
  background-color: #444;
  padding: 20px;
  border: 2px solid #111;
  border-radius: 10px;
  text-align: center;
}

.header {
  font-size: 20px;
  color: white;
}

button#btn-start, button#btn-again {
  height: 40px;
  margin-top: 10px;
  padding: 0 20px;
  background-color: #DDD;
  border-radius: 3px;
  font-size: 20px;
  font-family: Audiowide;
  color: #333;
  transition: 0.5s;
}

button#btn-start:hover, button#btn-again:hover {
  background-color: #888;
}

.mode {
  display: flex;
  justify-content: center;
  height: 40px;
  align-items: center;
}

.switch {
  position: relative;
  display: block;
  width: 40px;
  height: 20px;
  margin-left: 10px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  border-radius: 34px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  border-radius: 50%;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

@import url(http://fonts.googleapis.com/css?family=Give+You+Glory);

.start {
  color: white;
  font-family: 'Give You Glory', cursive;
  font-size: 40px;
  margin-top: -40px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}

#score, #high-score {
  color: white;
}
