html, body {
  background-color: #000;
  min-height: 100%;
  margin: 0;
}

canvas {
  position: absolute;
  width: 1000px;
  height: 700px;
  min-width: 1000px;
  max-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

canvas#canvas {
  background-color: #111;
  border-radius: 10px;
}
